html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}
html,
body {
	height: 100%;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	background-repeat: no-repeat;
	background-size: cover;
}
body {
	font-weight: 400;
	margin: 0;
	padding: 0;
}
button {
	background-color: transparent;
	border: none;
	margin: 0;
	padding: 0;
	outline: none;
	cursor: pointer;
	&:focus {
		border: none;
		outline: none;
		background-color: none;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}
.container {
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 15px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex-grow: 1;
}
